.loginForm{
    width:80%;
    
    height: 30%;

    border: 1px solid black;
    margin-top: 100px;
}

.inputBox{
    width: 100%;
    height: 40px;
    border: 1px solid black;
    display: flex;
    align-items: center;
}
.input{
    width: 80%;
    height: 30px;
    margin-left: 15px;
}

.register{
    text-align: right;
}
.button{
    width: 100%;
    height: 40px;
    border: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}